[submodule "submodules/json-spirit"]
	path = submodules/json-spirit
	url = git@bitbucket.org:DeanoC/json-spirit.git	
[submodule "submodules/riak-cpp"]
	path = submodules/riak-cpp
	url = git@bitbucket.org:DeanoC/riak-cpp.git
[submodule "submodules/protobuf"]
	path = submodules/protobuf
	url = git@bitbucket.org:DeanoC/protobuf.git
