[submodule "submodules/compiler-rt"]
	path = submodules/compiler-rt
	url = git@bitbucket.org:DeanoC/llvm.git
[submodule "submodules/llvm"]
	path = submodules/llvm
	url = git@bitbucket.org:DeanoC/llvm.git
[submodule "submodules/json-spirit"]
	path = submodules/json-spirit
	url = git@bitbucket.org:DeanoC/json-spirit.git	
[submodule "submodules/riak-cpp"]
	path = submodules/riak-cpp
	url = git@bitbucket.org:DeanoC/riak-cpp.git
[submodule "submodules/protobuf"]
	path = submodules/protobuf
	url = git@bitbucket.org:DeanoC/protobuf.git
[submodule "submodules/clang"]
	path = submodules/clang
	url = git@bitbucket.org:DeanoC/clang.git
